@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spotify-black";
  src: url(/public/fonts/spotify-circular/CircularStd-Black.otf);
}

@font-face {
  font-family: "spotify-bold";
  src: url(/public/fonts/spotify-circular/CircularStd-Bold.otf);
}

@font-face {
  font-family: "spotify";
  src: url(/public/fonts/spotify-circular/CircularStd-Medium.otf);
}

@font-face {
  font-family: "spotify-light";
  src: url(/public/fonts/spotify-circular/CircularStd-Light.otf);
}

body {
  margin: 0;
  color: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
